* {

	margin: 0;
	padding: 0;
	font-style: oblique;
    font-family: monospace;
}

#container {

width: 100%;

height: auto;

/*border: solid 0 1px 1px 0;*/

margin: auto;
}

#header {
	width: 100%;
	height: 80px;
	background-color: blueviolet;
	color: red; 
}
 
#header h1 {
	margin-left: 20px;
    padding-top: 10px;
    font-family: cursive;
    width: 20%;
    height: 100%;
    float: left;
    font-size: 35px;
}

#search {
    width: 60%;
    height: 35px;
    /* margin-top: 10px; */
    float: left;
    /* padding-top: 0px; */
}

input#input {
    margin-top: 10px;
    /* height: 57%; */
    width: 450px;
    height: 35px;
}

button.button {
    /* size: 98px; */
    width: 45px;
    height: 38px;
}

#header .sign {
	width: 18%;
    float: right;
    /* margin-top: -40px; */
    height: 100%;
    margin-top: 20px;
}

.sign a {
	display: inline-block;
    /* background: white; */
    width: 25%;
    text-decoration: none;
    border: solid 1px white;
    color: white;
    padding: 5px 0px 5px 10px;
    border-radius: 2px;
    margin-right: 10px;
    
    float: right;
}

#menu {
	width: 100%;
	height: 40px;
	background-color: pink;
	margin: auto;
} 

#menu ul {
	display: block;
	width: 60%;
	height: 100%;
	margin: auto;
}

#menu ul li {
	display: inline-block;
	margin-left: 0px;
	list-style-type: none;
}

#menu ul li a {
	display: block;
	text-decoration: none;
	line-height: 40px;
	padding: 0 15px;
	font-size: 20px;
}

#menu ul li a:hover {
	background-color: darkkhaki;
	color: green;
}

#menu ul li a ul {
	display: block;
}

#menu ul li a ul li a {
	display: none;
}

#menu ul li ul {
    display: none;
}

#menu ul li ul {}

#menu ul li:hover ul {
    display: block;
    width: 150px;
    position: absolute;
    z-index: 99999;
}

#menu ul li ul li {
    background: pink;
    width: 100%;
}

#content {
	padding-top: 20px;
	background: lavender;
	height: 1000px;
}

.list {
	width: 100%;
	height: 400px;
	display: block;
	margin-top: 0px;
}
.list .item {
	
	float: left;
    width: 152px;
    height: 328px;
    display: inline-block;
    margin-left: 37px;
    position: relative;
    background: white;
    margin-top: 40px;
    transition: box-shadow .5s;
}

.item:hover {
    box-shadow: 0 0 14px rgb(14, 14, 14);
}

.list .item .img img {
	width: 100%;
	/* border: solid red; */
	cursor: pointer;
	margin: auto;
	height: 223.44px;
}

#left {
	transition: all 1s;
}

.list .item .title {
	color: black;
	font-size: 17px;
	margin: 5px 5px 5px 6px;
}
.list .item .price {
	color: #f90606;
	margin-left: 5px;
	font-size: 20px;
}

.list .item .discount {
	display: block;
	width: 40px;
	height: 40px;
	background-color: red;
	position: absolute;
	top: -14px;
    right: -14px;
    line-height: 40px;
    text-align: center;
    border-radius: 60%;
    background-image: url("../img/discount.jpg");
    background-size: 51px 51px;
    background-position: -6px -4px;
    z-index: 9999;
}